body {
    margin: 60px auto;
    width: 70%;
}

nav ul,
footer ul {
    font-family: 'Montserrat';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li,
footer ul li {
    display: inline;
    margin-right: 20px;
}

.banner-img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a {
    text-decoration: none;
    color: #999;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 1em;
    font-family: 'Montserrat', 'Arial', 'Sans-Serif';
}

p {
    font-size: 1em;
    line-height: 1em;
    color: #333;
    font-family: 'Montserrat';
}

li {
    font-size: 1em;
    line-height: 1em;
    color: #333;
    font-family: 'Montserrat';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1em;
}

ul.posts li {
    list-style: none;
}

.intro {
    font-size: 1em;
}

.logo {
    margin: auto;
    display: block;
    height: 50px;
    width: 50px;
}

.listateliers {
    margin: auto;
    display: block;
    height: 250px;
    width: 550px;
}

.postdesc {
    display: inline;
    margin-right: 20px;
}

.icon-atelier {
    margin: auto;
    height: 30px;
    width: 30px;
}

.mini-atelier {
    margin: auto;
    display: block;
    height: 200px;
    width: 200px;
}

.min-atelier-titre {
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
}

.mini-atelier-desc {
    font-family: 'Montserrat';
    font-size: 14px;
    text-align: left;
}

.navbar {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 100;
}

.div-class {
    background-image: url("/asset/frame3.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 600px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
}

.tableau-atelier {
    border-width: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 50px;
    padding-bottom: 80px;

}