body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Montserrat';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.banner-img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Montserrat', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
    font-family: 'Montserrat';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.intro{
    font-size: 1.2em;
}

.logo {
    margin: auto;
    display: block;
    height: 80px;
    width: 80px;
  }

.listateliers{
    margin: auto;
    display: block;
    height: 250px;
    width: 550px;
}

.postdesc{
    display: inline;
    margin-right: 20px;
}

.icon-atelier{
    margin: auto;
    height: 30px;
    width: 30px;
}

.mini-atelier{
    margin: auto;
    display: block;
    height: 200px;
    width: 200px;
}

.titre-min-atelier{
    font-family: 'Montserrat';
    font-size: 22px;
    text-align: center;
}
  

.navbar{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 100;
}
