
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main2.css">
		</head>
		<body>
			<div >
				<a href="/accueil"><img src="/asset/logo2.png" class="banner-img"></a>
			</div>
			<nav style="text-align: center;">
	    		<ul>
	        		<li><a href="/accueil">Accueil</a></li>
					<li><a href="/ateliers">Les ateliers</a></li>
					<li><a href="/projets">Les projets</a></li>
					<li><a href="/histoire">L'histoire d'Infini fab</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>

	        		<li><a href={{ page.pageurl }} target="_blank"><img src="/asset/gitedit.png" width="40px"></a></li>
					<li><a href="/howtogit"><img src="/asset/githow.png" width="40px"></a></li>
					Pour plus d'info n'hesitez pas à nous écrire :
					<li><a href="mailto:contact@infinifab.com"><img src="/asset/mail.png" width="40px"></a></li>
	        		
				</ul>
			</footer>
		</body>
	</html>
